.contain{
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
    height: auto;
    padding: 2rem;
  } 

.hero-title{
    font-family: Montserrat;
} 

@media only screen and (min-width: 605px) {
    .contain {
        width: 90vw;
        margin: auto;
        flex-direction: column;
    }
    .card {
        
    }
  }

  @media only screen and (min-width: 950px) {
    .contain {
        width: 90vw;
        margin: auto;
        flex-direction: row;
    }
    
  }

  @media only screen and (min-width: 1300px) {
    .contain {
        width: 1140px;
        margin: auto;
        flex-direction: row;
    }

    .slider-card {
        max-width: 571px;
        height: 508px;
    } 
    
  }

  


.str-text-3{
    color: white;
    text-align: center;
    font-size: medium;
}

.industry-card{
    background-color: #5022B8;
    font-weight: 600;
    border-right: solid 2px white;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.industry-card-middle{
    background-color: #5022B8;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: solid 2px white;
    font-weight: 600;
}

.industry-card-end{
    background-color: #5022B8;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 600;
}

.text-counter{
    color: white;
    font-size: 3rem;
    text-align: center;
}